.footer{
    background-color: black;
    color: white;
    .btn{
        background-color: #01589d !important;
        color: white;
        margin-top: 1.5rem;
        padding: 2px 25px;
        border-radius: 5px;
        float: right;
    }
    .social-media{
        justify-content: center;
    }
    .social-media img{
        width: 70px;
        padding-right: 20px;
    }
    .copyright{
        display: flex;
        justify-content: center;
        font-size: 70%;
        opacity: 0.5;
    }
}